.card{
  margin-top: 28vh;
  padding-bottom: 100px;
  border: 2px solid var(--blue);
  border-radius: 20px;
  width:20vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-color: var(--white);
  margin-left: 13vw;
  
}
#thumb{
  width: 100px;
  height: 100px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.profile:hover{
  color:black;
  background-color: white;
  border: 1px solid black;

}