.navbarContainer{
    /* height:20vh; */
    z-index: 1000;
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:12vh;
    background-color: #C6C4C4;
    display:flex;
    align-items: center;
    border-bottom: 3px solid var(--blue);
}

.user-image{
    object-fit: cover;
    width:70px;
    height: 70px;
    position: absolute;
    top:2vh;
    right:2vw;
    border:3px solid var(--blue);
    border-radius: 50%;

}
.rotate {
    animation: rotation 15s infinite linear;
    border: 1px solid transparent;
    border-radius: 50%;
    width:80px;
    /* margin-left:2vw; */
    position:absolute;
    top:1.5vh;
    left:3.5vw;
   
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

 
  .taz{
    width: 2.5rem;
    position: absolute;
    top: 5.2vh;
    left: 4.7vw;
  }

.searchinput{
    margin-left: 65%;
    font-size: 16px;
    line-height: 1.5;
    background: var(--blue);
    border: 1px solid #D5D9DB;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' color='white' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
    background-repeat: no-repeat;
    background-position: 15px 10px;
    background-size: 20px 20px;
    border-radius: 10px;
    width: 300px;
    padding: .5em 1em .5em 2.5em;
    color:white;
    } 
    
    .searchinput::placeholder{
      color: #838D99;
    }
    
    .searchinput:focus {
      outline: none;
      /* background-color: #FFF; */
      /* border: 1px solid #84A2FA; */
    }

/* .iconbtn{
    z-index: 1000;
} */