.kpiCard-container{
    height: 10vh;
    width: 10vw;
    background-color: #376F8A;
    /* opacity: 0.5; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin-right: 10px;
}