.menuloc {
  position: absolute;
  top: 39%;
  left: 9%;
  z-index: 99;
}

.background {
  background-color: white;
  width: 100vw;
  height: 100vh;
}


.profile-image {
  position: absolute;
  z-index: 1000;
  top: -27%;
  left: 35%;
  object-fit: cover;
  border: 2px solid var(--blue);
  border-radius: 50%;
}
.userInfo{
  position: absolute;
  top: 35%;
  left:23%;
}

.profileCard {
  padding: 18px;
  position: absolute;
  border: 2px solid var(--blue);
  border-radius: 10px;
  background-color: rgb(220, 213, 213);
  color: var(--blue);
  height: 40vh;
  width: 40vw;
  top: 30%;
  left: 35%;
}
.but {
  padding: 3px 8px;
  position: absolute;
  /* left: 600px; */
  top: 250px;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  background-color: rgb(1, 1, 55);
}
.cardcontent {
  width: 90%;
  display: flex;
  /* flex-direction: ; */
  align-items: center;
  justify-content: space-around;
}

.cardcontent {
  padding: 60px 20px 60px 40px;
  display: flex;
  justify-content: space-between;
}

.direction{
  display: flex;
  flex-direction: column;
}

.direction:first-child{
  align-items: end;
}