.employee-profile {
  width: 65vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: end; */
  height: 80vh;
  /* margin-top: 10vh; */
  /* padding-top:10vh; */
}

.profile-image{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}


.car{
  display: flex;
  flex: column;
  margin-top: 10vh;
  margin-left:8vw;
  border: 1px solid black;
  height:40vh;
  width:40vw;
  background-color: rgb(237, 237, 237);
}

.combin{
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.late{
  display: flex;
  flex-direction: row;
  list-style-type: none;;
  /* justify-content: space-around;
  align-content: space-around; */
}
.scroly{
  padding: 20px;
  margin-top: 13vh;
  margin-left: 7.8vw;
  overflow-x: scroll;
  overflow-y: hidden;
  /* white-space: nowrap; */
  width: 37.8vw;
  border: 3px solid grey;



}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #0A4f70;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: grey;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: grey;
}

